@font-face {
  font-family: "Minecraft Header";
  src: url("Minecrafter-MA3Dw.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft Regular";
  src: url("MinecraftRegular-Bmg3.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft Regular";
  src: url("MinecraftItalic-R8Mo.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Minecraft Regular";
  src: url("MinecraftBold-nMK1.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: Minecraft Regular;
  color: #9e182b;
} 

.header {
  background-image: url("From Main Klickpin CF- Uploaded by user - 763Zd19XR.gif");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  height: 450px;              
  width: 75%;      
  border: 2px solid #e99aaa;
  border-radius: 20px;
  margin: 40px auto; 
  padding: 40px;     
  text-align: center;
  box-shadow:
    0 0 5px #f7c8d2,  
    0 0 15px #e99aaa, 
    0 0 20px #e99aaa;
}

.header:hover {
  transform: scale(1.03);
  box-shadow:
    0 0 10px #f7c8d2,
    0 0 20px #e99aaa,
    0 0 30px #ffbfd6;
}

#title{
  font-family: Minecraft Header;
  font-size: 120px;
  color: #ffe4ea;
  text-align: center;
  text-shadow:
    0 0 5px #f7c8d2,  
    0 0 15px #e99aaa, 
    0 0 20px #e99aaa;
}

#home {
      background-image: url("bg.jpg"); 
      background-repeat: no-repeat; 
      background-position: center; 
      background-size: cover; 
      margin: 0;       
      padding: 20px;
    }

.navbar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar {
  background: rgba(233, 154, 170, 0.5); 
  padding: 14px 34px;
  border-radius: 22px;
  backdrop-filter: blur(8px);
  box-shadow: 0px 8px 18px rgba(143, 26, 47, 0.3);
  display: flex;
  gap: 28px;
  transition: transform 0.3s ease;
  border: 3px solid  #8f1a2f;
}

.navbar:hover {
  transform: scale(1.03);
}

.nav-link {
  text-decoration: none;
  font-family: Minecraft Regular;
  font-size: 18px;
  font-weight: bold;
  color: #8f1a2f; 
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.nav-link:visited {
  color: #7a1527; 
}

.nav-link:hover {
  background-color: rgba(247, 200, 210, 0.85); 
  color: #b8324a; 
  transform: scale(1.5);
}

.subtext {
  color: #ffe4ea;
  font-family: Minecraft Regular;
  font-size: 25px;
  text-align: center;
  text-shadow:
    0 0 5px #f7c8d2,  
    0 0 15px #e99aaa;
}

.home-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 30px;
  max-width: 90%;
  margin: 40px auto;
}

.hometext {
  background-color: #fff6f0; 
  border-radius: 25px;
  padding: 35px 45px;
  width: 65%;
  margin: 0; 
  font-family: Georgia, serif;
  line-height: 1.8;
  box-shadow: 0px 10px 20px rgba(143, 26, 47, 0.25);
  border: 2px solid #f7c8d2; 
}

.anytext {
  font-family: Minecraft Regular;
  color: #8f1a2f;
  font-size: 17px;
} 

.anytext::first-line {
  font-family: Minecraft Regular;
  color: #7a1527;
  font-size: 22px;
}

.postlinks {
  background-color: #fff6f0;
  border-radius: 25px;
  padding: 25px;
  width: 28%;
  border: 2px solid #f7c8d2;
  box-shadow: 0px 10px 20px rgba(143, 26, 47, 0.25);
  text-align: center;
}

.linkstitle {
  font-family: Minecraft Regular;
  color: #c94a61;
  margin-bottom: 15px;
  font-size: 20px;
}

.postlink {
  display: block;
  font-family: Minecraft Regular;
  text-decoration: none;
  background: rgba(247, 200, 210, 0.65); 
  margin: 10px 0;
  padding: 10px;
  border-radius: 14px;
  color: #8f1a2f;
  font-weight: bold;
  transition: all 0.3s ease;
}

.postlink:hover {
  background: #e99aaa; 
  color: #ffffff;
  font-family: Minecraft Regular;
  transform: scale(1.3);
}

.all {
  background-image: url("From Main Klickpin CF- Uploaded by user - 1D4D6QXoG.gif"); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
  width: 100%;
  margin: 0;       
  padding: 20px;
}

.editorsection{
  background:#fff6f0;
  border:2px solid #f7c8d2;
  border-radius:25px;
  padding:40px;
  margin:40px auto;
  width:75%;
  box-shadow:0px 10px 20px rgba(143,26,47,0.2);
}

.editorsection:hover {
  transform: scale(1.03);
}

.sectiontitle{
  font-family:Minecraft Regular;
  color:#8f1a2f;
  font-size:32px;
  text-align:center;
}

.editornote p{
  font-family:Georgia, serif;
  color:#8f1a2f;
  line-height:1.8;
}

.insighttitle{
  margin-top:30px;
  font-family:Minecraft Regular;
  color:#b8324a;
}

.authorinsight p{
  font-family:Georgia, serif;
  color:#7a1527;
  line-height:1.8;
}

.authorprofile{
  display:flex;
  align-items:center;
  gap:20px;
  margin-top:30px;
  background:#ffe4ea;
  padding:20px;
  border-radius:20px;
}

.profilepic{
  width:150px;
  height:150px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #e99aaa;
}

.profiletext h4{
  font-family:Minecraft Regular;
  color:#8f1a2f;
  margin:0;
}

.profiletext p{
  font-family:Georgia, serif;
  color:#7a1527;
  margin-top:5px;
}

.updates-header {
  width: 75%;
  margin: 40px auto;
  padding: 40px;
  text-align: center;
  border: 2px solid #f9cbd6;
  border-radius: 25px;
  background-color: rgba(249, 203, 214, 0.35);
  backdrop-filter: blur(6px);
  box-shadow: 0px 10px 20px rgba(158, 24, 43, 0.25);
}

.updatestitle {
  font-family: Minecraft Header;
  font-size: 100px;
  color: #9e182b;
  text-align: center;
  text-shadow:
    0 0 5px #f7c8d2,  
    0 0 15px #e99aaa, 
    0 0 20px #e99aaa,
    0 0 25px #e99aaa;
}

.updatessubtitle {
  font-family: Minecraft Regular;
  font-size: 22px;
  color: #b3394a;
}

.sectiontitle {
  font-family: Minecraft Regular;
  font-size: 30px;
  color: #9e182b;
  text-align: center;
  margin-bottom: 20px;
}

.relatedsection {
  width: 80%;
  margin: 50px auto;
}

.relatedgrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.relatedcard {
  width: 220px;
  text-align: center;
  text-decoration: none;
  background-color: #fff8f0;
  border: 2px solid #f9cbd6;
  border-radius: 20px;
  padding: 15px;
  transition: all 0.3s ease;
}

.relatedcard img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
}

.relatedcard p {
  font-family: Minecraft Regular;
  color: #9e182b;
}

.relatedcard:hover {
  transform: scale(1.08);
  background-color: #f9cbd6;
}

.referencessection {
  width: 70%;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff8f0;
  border: 2px solid #f9cbd6;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(158, 24, 43, 0.25);
}

.resource {
    background-color: #fff6f0;
    border-radius: 25px;
    padding: 25px;
    width: 70%;
    margin: 40px auto;
    border: 2px solid #f7c8d2;
    box-shadow: 0px 10px 20px rgba(143, 26, 47, 0.25);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resource a {
    text-decoration: none;
}

.resource li {
    list-style: none;
    font-family: "Minecraft Regular";
    color: #8f1a2f;
    font-weight: bold;
    background: rgba(247, 200, 210, 0.65);
    padding: 10px 15px;
    border-radius: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.resource li:hover {
    background-color: #e99aaa;
    color: #ffffff;
    transform: scale(1.3);
}

.contactsection {
  width: 70%;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff8f0;
  border: 2px solid #f9cbd6;
  border-radius: 20px;
  text-align: center;
  font-family: Georgia, serif;
  color: #6e0b19;
}

.footer {
  margin-top: 60px;
  padding: 20px;
  text-align: center;
  font-family: Minecraft Regular;
  color: #9e182b;
}

.articlesheader {
  background-image: url("articlesheader.jpg");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  height: 450px;              
  width: 75%;      
  border: 2px solid #e99aaa;
  border-radius: 20px;
  margin: 40px auto; 
  padding: 40px;     
  text-align: center;
  box-shadow:
    0 0 5px #f7c8d2,  
    0 0 15px #e99aaa, 
    0 0 20px #e99aaa;
}

.articlesheader:hover {
  transform: scale(1.03);
  box-shadow:
    0 0 10px #f7c8d2,
    0 0 20px #e99aaa,
    0 0 30px #ffbfd6;
}

.editorheader {
  background-image: url("editorheader.jpg");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  height: 450px;              
  width: 75%;      
  border: 2px solid #e99aaa;
  border-radius: 20px;
  margin: 40px auto; 
  padding: 40px;     
  text-align: center;
  box-shadow:
    0 0 5px #f7c8d2,  
    0 0 15px #e99aaa, 
    0 0 20px #e99aaa;
}

.editorheader:hover {
  transform: scale(1.03);
  box-shadow:
    0 0 10px #f7c8d2,
    0 0 20px #e99aaa,
    0 0 30px #ffbfd6;
}

.updatesheader {
  background-image: url("updatesheader.jpg");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  height: 450px;              
  width: 75%;      
  border: 2px solid #e99aaa;
  border-radius: 20px;
  margin: 40px auto; 
  padding: 40px;     
  text-align: center;
  box-shadow:
    0 0 5px #f7c8d2,  
    0 0 15px #e99aaa, 
    0 0 20px #e99aaa;
}

.updatesheader:hover {
  transform: scale(1.03);
  box-shadow:
    0 0 10px #f7c8d2,
    0 0 20px #e99aaa,
    0 0 30px #ffbfd6;
}


.articlescontainer {
  width: 85%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.articlecard {
  background-color: #fff8f0;
  padding: 40px;
  border-radius: 25px;
  border: 2px solid #f9cbd6;
  box-shadow: 0px 10px 20px rgba(158, 24, 43, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.articlecard:hover {
  box-shadow: 0px 0px 15px #f7c8d2, 0px 0px 25px #e99aaa, 0px 0px 35px #ffe4ea;
  transform: scale(1.02);
}

.articletitle {
  font-family: "Minecraft Regular";
  font-size: 30px;
  color: #9e182b;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  transition: transform 0.3s ease, color 0.3s ease;
}

.articletitle:hover {
  color: #b8324a;
  transform: scale(1.05);
}

.articlecontent {
  max-height: 0;
  overflow: hidden;
  margin-top: 0;
  transition: max-height 0.6s ease, margin-top 0.4s ease;
}

.articlecard:focus-within .articlecontent {
  max-height: 2000px;
  margin-top: 20px;
}

.articleintro {
  font-family: "Minecraft Regular";
  line-height: 1.8;
  color: #6e0b19;
  margin-bottom: 20px;
}

.articleintro::first-letter {
  font-family: "Minecraft Regular";
  font-size: 60px;
  font-weight: bold;
  float: left;
  padding-right: 10px;
  color: #b3394a;
  line-height: 1;
}

.articlemedia {
  margin: 25px 0;
  text-align: center;
}

.articlemedia img {
  max-width: 100%;
  border-radius: 15px;
  border: 2px solid #f9cbd6;
}

.articlebody {
 font-family: "Minecraft Regular";
  line-height: 1.8;
  color: #6e0b19;
  margin-bottom: 10px;
}

.articleconclusion {
  font-family: "Minecraft Regular";
  margin-top: 20px;
  font-style: italic;
  color: #9e182b;
}

.socialicons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.socialicons img {
    height: 40px;
    width: auto;
    transition: transform 0.3s ease;
}

.socialicons img:hover {
    transform: scale(1.2);
}
