@font-face {
  font-family: "Minecraft Header";
  src: url("Minecrafter-MA3Dw.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft Regular";
  src: url("MinecraftRegular-Bmg3.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft Regular";
  src: url("MinecraftItalic-R8Mo.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Minecraft Regular";
  src: url("MinecraftBold-nMK1.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
