@font-face {
  font-family: "Minecraft Header";
  src: url("Minecrafter-MA3Dw.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft Regular";
  src: url("MinecraftRegular-Bmg3.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft Regular";
  src: url("MinecraftItalic-R8Mo.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Minecraft Regular";
  src: url("MinecraftBold-nMK1.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: Minecraft Regular;
  color: #9e182b;
} 

.header {
  background-image: url("headervid.gif");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  height: auto;              
  width: 75%;      
  border: 2px solid #e99aaa;
  border-radius: 20px;
  margin: 40px auto; 
  padding: 40px;     
  text-align: center;
}

#title{
  font-family: Minecraft Header;
  font-size: 120px;
  color: #ffe4ea;
  text-align: center;
  text-shadow:
    0 0 5px #f7c8d2,  
    0 0 15px #e99aaa, 
    0 0 20px #e99aaa;
}

#home {
      background-image: url("bg.jpg"); 
      background-repeat: no-repeat; 
      background-position: center; 
      background-size: cover; 
      margin: 0;       
      padding: 20px;
      font-family: Arial, sans-serif;
    }

.navbar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar {
  background: rgba(233, 154, 170, 0.5); 
  padding: 14px 34px;
  border-radius: 22px;
  backdrop-filter: blur(8px);
  box-shadow: 0px 8px 18px rgba(143, 26, 47, 0.3);
  display: flex;
  gap: 28px;
  transition: transform 0.3s ease;
  border: 3px solid  #8f1a2f;
}

.navbar:hover {
  transform: scale(1.03);
}

.nav-link {
  text-decoration: none;
  font-family: Minecraft Regular;
  font-size: 18px;
  font-weight: bold;
  color: #8f1a2f; 
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.nav-link:visited {
  color: #7a1527; 
}

.nav-link:hover {
  background-color: rgba(247, 200, 210, 0.85); 
  color: #b8324a; 
  transform: scale(1.5);
}

.subtext {
  color: #ffe4ea;
  font-family: Minecraft Regular;
  font-size: 25 px;
  text-align: center;
  text-shadow:
    0 0 5px #f7c8d2,  
    0 0 15px #e99aaa;
}

.home-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 30px;
  max-width: 90%;
  margin: 40px auto;
}

.hometext {
  background-color: #fff6f0; 
  border-radius: 25px;
  padding: 35px 45px;
  width: 65%;
  margin: 0; 
  font-family: Georgia, serif;
  line-height: 1.8;
  box-shadow: 0px 10px 20px rgba(143, 26, 47, 0.25);
  border: 2px solid #f7c8d2; 
}

.anytext {
  font-family: Minecraft Regular;
  color: #8f1a2f;
  font-size: 17px;
} 

.anytext::first-line {
  font-family: Minecraft Regular;
  color: #7a1527;
  font-size: 22px;
}

.postlinks {
  background-color: #fff6f0;
  border-radius: 25px;
  padding: 25px;
  width: 28%;
  border: 2px solid #f7c8d2;
  box-shadow: 0px 10px 20px rgba(143, 26, 47, 0.25);
  text-align: center;
}

.linkstitle {
  font-family: Minecraft Regular;
  color: #c94a61;
  margin-bottom: 15px;
  font-size: 20px;
}

.postlink {
  display: block;
  font-family: Minecraft Regular;
  text-decoration: none;
  background: rgba(247, 200, 210, 0.65); 
  margin: 10px 0;
  padding: 10px;
  border-radius: 14px;
  color: #8f1a2f;
  font-weight: bold;
  transition: all 0.3s ease;
}

.postlink:hover {
  background: #e99aaa; 
  color: #ffffff;
  font-family: Minecraft Regular;
  transform: scale(1.3);
}
